<template>
    <div>
        <p>{{teamData}}</p>
        <p>{{counter}}</p>
        <p>{{testData}}</p>
        <p>{{teams}}</p>
        <p>{{sampleData}}</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Country</th>
                    <tH>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in userData" :key="user.id">
                    <td><router-link  :to="{name:'UserView', params:{id: user.id}}">{{user.email | uppercase}}</router-link></td>
                    <td>{{user.age}}</td>
                    <td>{{user.country}}</td>
                    <td><router-link tag="button" :to="{name:'UserEdit', params:{id: user.id}}">Edit</router-link></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script src="../components/Users.js"></script>

<style scoped>
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
}
th{
    border: 3px solid black;
    padding:5px;
}

td{
    border: 3px solid black;
    padding:5px;
}
</style>