<template>
    <div id="signup">
        <div class="sognup-form">
            <form @submit.prevent = "onSubmit">
                <div class="input" :class="{error:$v.email.$error}">
                    <label for="email">Email</label>
                    <input type="email" id="email" v-model="$v.email.$model">
                </div>
                <div class="input">
                    <label for="age">Age</label>
                    <input type="number" id="age" v-model.number="age">
                </div>
                <div class="input">
                    <label for="password">Password</label>
                    <input type="password" id="password" v-model="password">
                </div>
                <div class="input">
                    <label for="country">Country</label>
                    <select id="country" v-model="country">
                        <option value="usa">USA</option>
                        <option value="india">INDIA</option>
                        <option value="uk">UK</option>
                        <option value="germany">GERMANY</option>
                    </select>
                </div>
                <div class="submit">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script src="../components/UserCreate.js"></script>

<style scoped>
    .signup-form{
        width:400px;
        margin: 30px auto;
        border: 1px solid #eee;
        padding: 20px;
        box-shadow: 0 2px 3px #ccc;
    }

    .input {
        margin: 10px auto;
    }

    .input label {
        display: block;
        color: #4e4e4e;
        margin-bottom: 6px;
    }

    .input.inline label {
        display: inline;
    }
</style>