<template>
    <div>
            <h1>User Details</h1>
            <p>Email: {{email}}</p>
            <p>Password: {{password}}</p>
            <p>age: {{age}}</p>
            <p>country: {{country}}</p>
    </div>
</template>

<script src="../components/UserView.js"></script>