<template>
  <div>
    <!-- <router-link tag="button" :to="{name:'UsersList'}">Users</router-link><br><br>
    <router-link tag="button" :to="{name:'UserCreate'}">Create User</router-link> -->
    <app-header :postsCount="postsCount"></app-header>
    <div id="app">
      <router-view></router-view>
    </div>
    
  </div>
  
</template>

<script src="./App.js"></script>


<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
